.logo {
  width: auto;
  height: 40px;
  padding: 5px;
}
.header {
  width: 100%;
  background: transparent
    linear-gradient(90deg, white 5%, #1c88ad 49%, #d5dbea 100%) 0% 0% no-repeat
    padding-box;
}
.spacer {
  flex: 1 1 auto;
}
